# assignment 1
/A1/bin
/A1/submission
/A1/.classpath
/A1/.project

# assignment 2
/A2/bin
/A2/submission
/A2/.classpath
/A2/.project

# assignment 3
/A3/bin
/A3/submission
/A3/.classpath
/A3/.project

# final
/FINAL/bin
/FINAL/submission
/FINAL/.classpath
/FINAL/.project
